@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(../images/team.png.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  opacity: .75;
  z-index: 500;
}

.navbar-brand {
  font-size: 30px;
}

#bioPage {
  display: none;
  color: white;
  background-color: black;
  opacity: .8;
  max-width: 1000px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
}

#technologiesPage {
  display: none;
  color: white;
  background-color: black;
  opacity: .8;
  max-width: 500px;
  margin: auto;
  margin-top: 25px;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.techItems {
  list-style-type: none;
  padding: 0;
}

#projectsPage {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  opacity: .75;
}

.footerLinks{
  display: flex;
  justify-content: space-evenly;
  margin-top: 7px;
}

.footerLinks a {
  color: white;
  font-size: 20px;
}

  
