#projectLink {
  color: black;
  text-decoration: none;
}

#projectLink:hover {
  color: blue;
}

#projectGithubLink {
  color: black;
  text-decoration: none;
}

#projectGithubLink:hover {
  color: blue;
}